In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("admission_predict.csv")

In [3]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
df.tail()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [6]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [7]:
df.shape

(400, 9)

In [8]:
df.size

3600

In [9]:

df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [10]:

df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [11]:
# Display all rows where GRE Score is greater than 320.
df[df["GRE Score"] > 320]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
3,4,322,110,3,3.5,2.5,8.67,1,0.80
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [12]:





#Show applicants whose TOEFL Score is less than 100.
df[df["TOEFL Score"]<100]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
27,28,298,98,2,1.5,2.5,7.50,1,0.44
28,29,295,93,1,2.0,2.0,7.20,0,0.46
29,30,310,99,2,1.5,2.0,7.30,0,0.54
30,31,300,97,2,3.0,3.0,8.10,1,0.65
50,51,313,98,3,2.5,4.5,8.30,1,0.76
57,58,298,99,2,4.0,2.0,7.60,0,0.46
58,59,300,99,1,3.0,2.0,6.80,1,0.36
77,78,301,99,2,3.0,2.0,8.22,0,0.64
78,79,296,95,2,3.0,2.0,7.54,1,0.44
79,80,294,93,1,1.5,2.0,7.36,0,0.46
91,92,299,97,3,5.0,3.5,7.66,0,0.38
92,93,298,98,2,4.0,3.0,8.03,0,0.34
93,94,301,97,2,3.0,3.0,7.88,1,0.44
94,95,303,99,3,2.0,2.5,7.66,0,0.36
118,119,296,99,2,3.0,3.5,7.28,0,0.47
161,162,298,99,1,1.5,3.0,7.46,0,0.53
168,169,293,97,2,2.0,4.0,7.80,1,0.64
169,170,311,99,2,2.5,3.0,7.98,0,0.65
205,206,295,99,2,2.5,3.0,7.65,0,0.57
206,207,315,99,2,3.5,3.0,7.89,0,0.63
225,226,296,99,2,2.5,2.5,8.03,0,0.61
251,252,316,99,2,2.5,3.0,9.00,0,0.70
256,257,309,99,3,4.0,4.0,8.56,0,0.76
271,272,299,96,2,1.5,2.0,7.86,0,0.54
272,273,294,95,1,1.5,1.5,7.64,0,0.49
273,274,312,99,1,1.0,1.5,8.01,1,0.52
292,293,302,99,2,1.0,2.0,7.97,0,0.56
293,294,312,98,1,3.5,3.0,8.18,1,0.64
317,318,300,99,1,1.0,2.5,8.01,0,0.58
329,330,297,96,2,2.5,1.5,7.89,0,0.43
344,345,295,96,2,1.5,2.0,7.34,0,0.47
345,346,316,98,1,1.5,2.0,7.43,0,0.49
346,347,304,97,2,1.5,2.0,7.64,0,0.47
347,348,299,94,1,1.0,1.0,7.34,0,0.42
348,349,302,99,1,2.0,2.0,7.25,0,0.57
354,355,297,98,2,2.5,3.0,7.67,0,0.59
367,368,311,98,1,1.0,2.5,7.46,0,0.57
368,369,298,92,1,2.0,2.0,7.88,0,0.51
369,370,301,98,1,2.0,3.0,8.03,1,0.67
376,377,297,96,2,2.5,2.0,7.43,0,0.34
378,379,303,98,1,2.0,2.5,7.65,0,0.56
379,380,311,99,1,2.5,3.0,8.43,1,0.71
388,389,296,97,2,1.5,2.0,7.80,0,0.49

In [13]:
# Get records where University Rating equals 5.
df[df["University Rating"]==5]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
5,6,330,115,5,4.5,3.0,9.34,1,0.90
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
24,25,336,119,5,4.0,3.5,9.80,1,0.97
25,26,340,120,5,4.5,4.5,9.60,1,0.94
26,27,322,109,5,4.5,3.5,8.80,0,0.76
33,34,340,114,5,4.0,4.0,9.60,1,0.90
34,35,331,112,5,4.0,5.0,9.80,1,0.94
35,36,320,110,5,5.0,5.0,9.20,1,0.88
44,45,326,113,5,4.5,4.0,9.40,1,0.91
45,46,322,110,5,5.0,4.0,9.10,1,0.88
46,47,329,114,5,4.0,5.0,9.30,1,0.86
47,48,339,119,5,4.5,4.0,9.70,0,0.89
70,71,332,118,5,5.0,5.0,9.64,1,0.94
71,72,336,112,5,5.0,5.0,9.76,1,0.96
72,73,321,111,5,5.0,5.0,9.45,1,0.93
82,83,320,110,5,5.0,4.5,9.22,1,0.92
83,84,322,115,5,4.0,4.5,9.36,1,0.92
84,85,340,115,5,4.5,4.5,9.45,1,0.94
108,109,331,116,5,5.0,5.0,9.38,1,0.93
109,110,304,103,5,5.0,4.0,8.64,0,0.68
110,111,305,108,5,3.0,3.0,8.48,0,0.61
119,120,327,104,5,3.0,3.5,8.84,1,0.71
120,121,335,117,5,5.0,5.0,9.56,1,0.94
121,122,334,119,5,4.5,4.5,9.48,1,0.94
129,130,333,118,5,5.0,5.0,9.35,1,0.92
130,131,339,114,5,4.0,4.5,9.76,1,0.96
131,132,303,105,5,5.0,4.5,8.65,0,0.77
132,133,309,105,5,3.5,3.5,8.56,0,0.71
133,134,323,112,5,4.0,4.5,8.78,0,0.79
134,135,333,113,5,4.0,4.0,9.28,1,0.89
142,143,331,115,5,4.0,3.5,9.44,1,0.92
151,152,332,116,5,5.0,5.0,9.28,1,0.94
152,153,321,112,5,5.0,5.0,9.06,1,0.86
165,166,322,110,5,4.5,4.0,8.97,0,0.78
171,172,334,117,5,4.0,4.5,9.07,1,0.89
187,188,335,118,5,4.5,3.5,9.44,1,0.93
188,189,331,115,5,4.5,3.5,9.36,1,0.93
189,190,324,112,5,5.0,5.0,9.08,1,0.88
190,191,324,111,5,4.5,4.0,9.16,1,0.90
191,192,323,110,5,4.0,5.0,8.98,1,0.87
192,193,322,114,5,4.5,4.0,8.94,1,0.86
193,194,336,118,5,4.5,5.0,9.53,1,0.94
202,203,340,120,5,4.5,4.5,9.91,1,0.97
203,204,334,120,5,4.0,5.0,9.87,1,0.97
213,214,333,119,5,5.0,4.5,9.78,1,0.96
215,216,330,116,5,5.0,4.5,9.36,1,0.93
234,235,330,113,5,5.0,4.0,9.31,1,0.91
235,236,326,111,5,4.5,4.0,9.23,1,0.88
237,238,329,114,5,4.5,5.0,9.19,1,0.86
260,261,327,108,5,5.0,3.5,9.13,1,0.87
276,277,329,113,5,5.0,4.5,9.45,1,0.89
285,286,331,116,5,4.0,4.0,9.26,1,0.93
286,287,336,118,5,4.5,4.0,9.19,1,0.92
287,288,324,114,5,5.0,4.5,9.08,1,0.89
337,338,332,118,5,5.0,5.0,9.47,1,0.94
338,339,323,108,5,4.0,4.0,8.74,1,0.81
339,340,324,107,5,3.5,4.0,8.66,1,0.81
362,363,338,115,5,4.5,5.0,9.23,1,0.91
385,386,335,117,5,5.0,5.0,9.82,1,0.96

In [14]:
#Select all students who have done Research (value 1).
df[df["Research"]==1]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
5,6,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [15]:
#Display students who have not done Research (value 0).
df[df["Research"]==0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
15,16,314,105,3,3.5,2.5,8.30,0,0.54
...,...,...,...,...,...,...,...,...,...
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [16]:




#Find applicants with CGPA greater than 9.0.
df[df["CGPA"]>9.0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [17]:




df[(df["GRE Score"]>320) & (df['CGPA']>9.0)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
12,13,328,112,4,4.0,4.5,9.10,1,0.78
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
394,395,329,111,4,4.5,4.0,9.23,1,0.89
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [18]:
(df['CGPA']>9.0)

0       True
1      False
2      False
3      False
4      False
       ...
395     True
396     True
397     True
398    False
399     True
Name: CGPA, Length: 400, dtype: bool

In [19]:
#Display records where either SOP or LOR rating is 5.0
df[(df["SOP"]==5.0)|(df["LOR"]==5.0)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
34,35,331,112,5,4.0,5.0,9.80,1,0.94
35,36,320,110,5,5.0,5.0,9.20,1,0.88
45,46,322,110,5,5.0,4.0,9.10,1,0.88
46,47,329,114,5,4.0,5.0,9.30,1,0.86
48,49,321,110,3,3.5,5.0,8.85,1,0.82
70,71,332,118,5,5.0,5.0,9.64,1,0.94
71,72,336,112,5,5.0,5.0,9.76,1,0.96
72,73,321,111,5,5.0,5.0,9.45,1,0.93
74,75,314,106,3,3.0,5.0,8.90,0,0.74
81,82,340,120,4,5.0,5.0,9.50,1,0.96
82,83,320,110,5,5.0,4.5,9.22,1,0.92
91,92,299,97,3,5.0,3.5,7.66,0,0.38
98,99,332,119,4,5.0,4.5,9.24,1,0.90
108,109,331,116,5,5.0,5.0,9.38,1,0.93
109,110,304,103,5,5.0,4.0,8.64,0,0.68
120,121,335,117,5,5.0,5.0,9.56,1,0.94
129,130,333,118,5,5.0,5.0,9.35,1,0.92
131,132,303,105,5,5.0,4.5,8.65,0,0.77
136,137,312,103,3,5.0,4.0,8.45,0,0.76
151,152,332,116,5,5.0,5.0,9.28,1,0.94
152,153,321,112,5,5.0,5.0,9.06,1,0.86
166,167,302,102,3,3.5,5.0,8.33,0,0.65
172,173,322,110,4,4.0,5.0,9.13,1,0.86
189,190,324,112,5,5.0,5.0,9.08,1,0.88
191,192,323,110,5,4.0,5.0,8.98,1,0.87
193,194,336,118,5,4.5,5.0,9.53,1,0.94
203,204,334,120,5,4.0,5.0,9.87,1,0.97
211,212,328,110,4,5.0,4.0,9.14,1,0.82
212,213,338,120,4,5.0,5.0,9.66,1,0.95
213,214,333,119,5,5.0,4.5,9.78,1,0.96
214,215,331,117,4,4.5,5.0,9.42,1,0.94
215,216,330,116,5,5.0,4.5,9.36,1,0.93
234,235,330,113,5,5.0,4.0,9.31,1,0.91
237,238,329,114,5,4.5,5.0,9.19,1,0.86
254,255,321,114,4,4.0,5.0,9.12,0,0.85
257,258,324,100,3,4.0,5.0,8.64,1,0.78
258,259,326,102,4,5.0,5.0,8.76,1,0.77
259,260,331,119,4,5.0,4.5,9.34,1,0.90
260,261,327,108,5,5.0,3.5,9.13,1,0.87
268,269,327,113,4,4.5,5.0,9.14,0,0.83
269,270,308,108,4,4.5,5.0,8.34,0,0.77
276,277,329,113,5,5.0,4.5,9.45,1,0.89
284,285,340,112,4,5.0,4.5,9.66,1,0.94
287,288,324,114,5,5.0,4.5,9.08,1,0.89
288,289,314,104,4,5.0,5.0,9.02,0,0.82
337,338,332,118,5,5.0,5.0,9.47,1,0.94
360,361,322,110,3,4.0,5.0,8.64,1,0.85
362,363,338,115,5,4.5,5.0,9.23,1,0.91
384,385,340,113,4,5.0,5.0,9.74,1,0.96
385,386,335,117,5,5.0,5.0,9.82,1,0.96
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [20]:
#Get rows where Chance of Admit is above 0.8 and University Rating ≥ 4.
(df["Chance of Admit"]>0.8) & (df["University Rating"]>=4)

0       True
1      False
2      False
3      False
4      False
       ...
395    False
396    False
397     True
398    False
399     True
Length: 400, dtype: bool

In [21]:

df[(df["Chance of Admit"]>0.8) & (df['University Rating']>=4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
5,6,330,115,5,4.5,3.0,9.34,1,0.90
11,12,327,111,4,4.0,4.5,9.00,1,0.84
22,23,328,116,5,5.0,5.0,9.50,1,0.94
23,24,334,119,5,5.0,4.5,9.70,1,0.95
...,...,...,...,...,...,...,...,...,...
385,386,335,117,5,5.0,5.0,9.82,1,0.96
392,393,326,112,4,4.0,3.5,9.12,1,0.84
394,395,329,111,4,4.5,4.0,9.23,1,0.89
397,398,330,116,4,5.0,4.5,9.45,1,0.91
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [22]:
#Find all rows where TOEFL Score is between 100 and 110.
df[df["TOEFL Score"].between(100, 110)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
6,7,321,109,3,3.0,4.0,8.20,1,0.75
...,...,...,...,...,...,...,...,...,...
391,392,318,106,3,2.0,3.0,8.65,0,0.71
393,394,317,104,2,3.0,3.0,8.76,0,0.77
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [23]:
# Display data for students whose GRE Score is not equal to 300.
df[df["GRE Score"]!=300]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [24]:
#Show all students with CGPA less than 8 and Research = 1.
df[(df["CGPA"]<8) & (df["Research"]==1)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
20,21,312,107,3,3.0,2.0,7.90,1,0.64
27,28,298,98,2,1.5,2.5,7.50,1,0.44
51,52,312,100,2,1.5,3.5,7.90,1,0.56
58,59,300,99,1,3.0,2.0,6.80,1,0.36
78,79,296,95,2,3.0,2.0,7.54,1,0.44
90,91,318,106,2,4.0,4.0,7.92,1,0.64
93,94,301,97,2,3.0,3.0,7.88,1,0.44
168,169,293,97,2,2.0,4.0,7.80,1,0.64
357,358,301,104,2,3.5,3.5,7.89,1,0.68

In [25]:
#Retrieve rows where University Rating &lt; 3 and SOP &gt; 4.
df[(df["University Rating"]<3) & (df["SOP"]>4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
103,104,317,104,2,4.5,4.0,8.47,0,0.57
138,139,326,116,2,4.5,3.0,9.08,1,0.80
141,142,332,118,2,4.5,3.5,9.36,1,0.90

In [26]:
#Get records of students having TOEFL Score &gt; 105 but GRE Score &lt; 310.
df[(df["TOEFL Score"]>105) & (df["GRE Score"]<310)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
13,14,307,109,3,4.0,3.0,8.00,1,0.62
36,37,299,106,2,4.0,4.0,8.40,0,0.64
39,40,307,108,2,4.0,3.5,7.70,0,0.48
40,41,308,110,3,3.5,3.0,8.00,1,0.46
110,111,305,108,5,3.0,3.0,8.48,0,0.61
112,113,301,107,3,3.5,3.5,8.34,1,0.62
123,124,308,108,3,3.5,3.5,8.22,0,0.61
124,125,301,106,4,2.5,3.0,8.47,0,0.57
158,159,306,106,2,2.0,2.5,8.14,0,0.61
178,179,309,108,3,2.5,3.0,8.12,0,0.72
181,182,305,107,2,2.5,2.5,8.42,0,0.71
195,196,307,107,2,3.0,3.5,8.52,1,0.78
208,209,305,106,2,3.0,3.0,8.16,0,0.64
223,224,308,109,2,3.0,4.0,8.45,0,0.71
226,227,306,110,2,3.5,4.0,8.45,0,0.63
255,256,307,110,4,4.0,4.5,8.37,0,0.79
269,270,308,108,4,4.5,5.0,8.34,0,0.77
299,300,305,112,3,3.0,3.5,8.65,0,0.71
300,301,309,106,2,2.5,2.5,8.00,0,0.62
309,310,308,110,4,3.5,3.0,8.60,0,0.70
332,333,308,106,3,3.5,2.5,8.21,1,0.75
342,343,308,106,3,3.0,3.0,8.24,0,0.58

In [27]:
#Display records where Chance of Admit &lt; 0.6 or GRE Score &lt; 300.
df[(df["Chance of Admit"]<0.6) | (df["GRE Score"]<300)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45
10,11,325,106,3,3.5,4.0,8.40,1,0.52
15,16,314,105,3,3.5,2.5,8.30,0,0.54
27,28,298,98,2,1.5,2.5,7.50,1,0.44
...,...,...,...,...,...,...,...,...,...
377,378,290,100,1,1.5,2.0,7.56,0,0.47
378,379,303,98,1,2.0,2.5,7.65,0,0.56
386,387,302,101,2,2.5,3.5,7.96,0,0.46
387,388,307,105,2,2.0,3.5,8.10,0,0.53
388,389,296,97,2,1.5,2.0,7.80,0,0.49

In [28]:
#Find the top 10 students with the highest GRE Score.
df.nlargest(10, "GRE Score")

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
25,26,340,120,5,4.5,4.5,9.60,1,0.94
33,34,340,114,5,4.0,4.0,9.60,1,0.90
81,82,340,120,4,5.0,5.0,9.50,1,0.96
84,85,340,115,5,4.5,4.5,9.45,1,0.94
143,144,340,120,4,4.5,4.0,9.92,1,0.97
202,203,340,120,5,4.5,4.5,9.91,1,0.97
284,285,340,112,4,5.0,4.5,9.66,1,0.94
384,385,340,113,4,5.0,5.0,9.74,1,0.96
47,48,339,119,5,4.5,4.0,9.70,0,0.89
130,131,339,114,5,4.0,4.5,9.76,1,0.96

In [29]:
#Display applicants who scored exactly 4.5 in LOR.
df[df["LOR"]==4.5]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
11,12,327,111,4,4.0,4.5,9.00,1,0.84
12,13,328,112,4,4.0,4.5,9.10,1,0.78
23,24,334,119,5,5.0,4.5,9.70,1,0.95
25,26,340,120,5,4.5,4.5,9.60,1,0.94
32,33,338,118,4,3.0,4.5,9.40,1,0.91
50,51,313,98,3,2.5,4.5,8.30,1,0.76
82,83,320,110,5,5.0,4.5,9.22,1,0.92
83,84,322,115,5,4.0,4.5,9.36,1,0.92
84,85,340,115,5,4.5,4.5,9.45,1,0.94
98,99,332,119,4,5.0,4.5,9.24,1,0.90
105,106,316,110,3,4.0,4.5,8.78,1,0.69
106,107,329,111,4,4.5,4.5,9.18,1,0.87
107,108,338,117,4,3.5,4.5,9.46,1,0.91
115,116,310,106,4,4.5,4.5,9.04,1,0.66
121,122,334,119,5,4.5,4.5,9.48,1,0.94
130,131,339,114,5,4.0,4.5,9.76,1,0.96
131,132,303,105,5,5.0,4.5,8.65,0,0.77
133,134,323,112,5,4.0,4.5,8.78,0,0.79
171,172,334,117,5,4.0,4.5,9.07,1,0.89
173,174,323,113,4,4.0,4.5,9.23,1,0.89
176,177,329,119,4,4.5,4.5,9.16,1,0.90
185,186,327,113,4,4.5,4.5,9.11,1,0.89
198,199,311,104,3,4.5,4.5,8.43,0,0.70
199,200,313,107,3,4.0,4.5,8.69,0,0.72
202,203,340,120,5,4.5,4.5,9.91,1,0.97
213,214,333,119,5,5.0,4.5,9.78,1,0.96
215,216,330,116,5,5.0,4.5,9.36,1,0.93
216,217,322,112,4,4.5,4.5,9.26,1,0.91
230,231,313,104,3,4.0,4.5,8.65,0,0.73
236,237,325,112,4,4.0,4.5,9.17,1,0.85
253,254,335,115,4,4.5,4.5,9.68,1,0.93
255,256,307,110,4,4.0,4.5,8.37,0,0.79
259,260,331,119,4,5.0,4.5,9.34,1,0.90
276,277,329,113,5,5.0,4.5,9.45,1,0.89
281,282,317,110,3,4.0,4.5,9.11,1,0.80
284,285,340,112,4,5.0,4.5,9.66,1,0.94
287,288,324,114,5,5.0,4.5,9.08,1,0.89
297,298,320,120,3,4.0,4.5,9.11,0,0.86
298,299,330,114,3,4.5,4.5,9.24,1,0.90
312,313,311,107,4,4.5,4.5,9.00,1,0.78
335,336,325,111,4,4.0,4.5,9.11,1,0.83
366,367,320,104,3,3.5,4.5,8.34,1,0.74
397,398,330,116,4,5.0,4.5,9.45,1,0.91

In [30]:
#Select students whose SOP rating lies between 3 and 4 (inclusive).
df[df["SOP"].between(3,4)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
...,...,...,...,...,...,...,...,...,...
392,393,326,112,4,4.0,3.5,9.12,1,0.84
393,394,317,104,2,3.0,3.0,8.76,0,0.77
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [31]:
#Display all students whose University Rating is either 2 or 3.
df[df["University Rating"]==2 | 3]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
6,7,321,109,3,3.0,4.0,8.20,1,0.75
9,10,323,108,3,3.5,3.0,8.60,0,0.45
10,11,325,106,3,3.5,4.0,8.40,1,0.52
...,...,...,...,...,...,...,...,...,...
389,390,320,108,3,3.5,4.0,8.44,1,0.76
391,392,318,106,3,2.0,3.0,8.65,0,0.71
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [32]:
#Filter rows where CGPA is an integer value (e.g., 8.0, 9.0).
df[df["CGPA"] % 1 == 0]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.0,1,0.72
8,9,302,102,1,2.0,1.5,8.0,0,0.50
11,12,327,111,4,4.0,4.5,9.0,1,0.84
13,14,307,109,3,4.0,3.0,8.0,1,0.62
17,18,319,106,3,4.0,3.0,8.0,1,0.65
40,41,308,110,3,3.5,3.0,8.0,1,0.46
52,53,334,116,4,4.0,3.0,8.0,1,0.78
54,55,322,110,3,3.0,3.5,8.0,0,0.70
96,97,306,100,2,3.0,3.0,8.0,0,0.48
251,252,316,99,2,2.5,3.0,9.0,0,0.70
289,290,313,109,3,4.0,3.5,9.0,0,0.79
300,301,309,106,2,2.5,2.5,8.0,0,0.62
307,308,325,112,4,4.0,4.0,9.0,1,0.80
312,313,311,107,4,4.5,4.5,9.0,1,0.78

In [33]:
#Retrieve records where Chance of Admit is between 0.5 and 0.7.
df[df["Chance of Admit"].between(0.5,0.7)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
10,11,325,106,3,3.5,4.0,8.40,1,0.52
13,14,307,109,3,4.0,3.0,8.00,1,0.62
...,...,...,...,...,...,...,...,...,...
378,379,303,98,1,2.0,2.5,7.65,0,0.56
383,384,300,100,3,3.0,3.5,8.26,0,0.62
387,388,307,105,2,2.0,3.5,8.10,0,0.53
390,391,314,102,2,2.0,2.5,8.24,0,0.64
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [34]:
#Select students who scored below average GRE Score.
df[df["GRE Score"] < df["GRE Score"].mean()]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
2,3,316,104,3,3.0,3.5,8.00,1,0.72
4,5,314,103,2,2.0,3.0,8.21,0,0.65
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
13,14,307,109,3,4.0,3.0,8.00,1,0.62
...,...,...,...,...,...,...,...,...,...
386,387,302,101,2,2.5,3.5,7.96,0,0.46
387,388,307,105,2,2.0,3.5,8.10,0,0.53
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64
398,399,312,103,3,3.5,4.0,8.78,0,0.67

In [35]:
#Show all records where TOEFL Score equals the dataset’s maximum TOEFL Score.
df[df["TOEFL Score"]== df["TOEFL Score"]].max()

Serial No.           400.00
GRE Score            340.00
TOEFL Score          120.00
University Rating      5.00
SOP                    5.00
LOR                    5.00
CGPA                   9.92
Research               1.00
Chance of Admit        0.97
dtype: float64

In [36]:
#Filter students who have both LOR and SOP less than 3.
df[(df["LOR"]<3) &  (df["SOP"]<3)]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
8,9,302,102,1,2.0,1.5,8.00,0,0.50
27,28,298,98,2,1.5,2.5,7.50,1,0.44
28,29,295,93,1,2.0,2.0,7.20,0,0.46
29,30,310,99,2,1.5,2.0,7.30,0,0.54
37,38,300,105,1,1.0,2.0,7.80,0,0.58
...,...,...,...,...,...,...,...,...,...
376,377,297,96,2,2.5,2.0,7.43,0,0.34
377,378,290,100,1,1.5,2.0,7.56,0,0.47
378,379,303,98,1,2.0,2.5,7.65,0,0.56
388,389,296,97,2,1.5,2.0,7.80,0,0.49
390,391,314,102,2,2.0,2.5,8.24,0,0.64

In [37]:
#Retrieve students who have GRE Score divisible by 5.  Add a newcolumn named GRE_to_TOEFL_Ratio = GRE Score / TOEFL Score.
df[df["GRE Score"] % 5==0]
df['GRE_to_TOEFL_Ratio']=df["GRE Score"] / df["TOEFL Score"]

In [38]:
#Create a new column Admission_Chance_% = Chance of Admit × 100
df["Admission_Chance_%"]=df["Chance of Admit"]*100

In [39]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ratio,Admission_Chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0
...,...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,2.945455,82.0
396,397,325,107,3,3.0,3.5,9.11,1,0.84,3.037383,84.0
397,398,330,116,4,5.0,4.5,9.45,1,0.91,2.844828,91.0
398,399,312,103,3,3.5,4.0,8.78,0,0.67,3.029126,67.0
399,400,333,117,4,5.0,4.0,9.66,1,0.95,2.846154,95.0

In [40]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ratio,Admission_Chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0
...,...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,2.945455,82.0
396,397,325,107,3,3.0,3.5,9.11,1,0.84,3.037383,84.0
397,398,330,116,4,5.0,4.5,9.45,1,0.91,2.844828,91.0
398,399,312,103,3,3.5,4.0,8.78,0,0.67,3.029126,67.0
399,400,333,117,4,5.0,4.0,9.66,1,0.95,2.846154,95.0

In [41]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ratio,Admission_Chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0
...,...,...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82,2.945455,82.0
396,397,325,107,3,3.0,3.5,9.11,1,0.84,3.037383,84.0
397,398,330,116,4,5.0,4.5,9.45,1,0.91,2.844828,91.0
398,399,312,103,3,3.5,4.0,8.78,0,0.67,3.029126,67.0
399,400,333,117,4,5.0,4.0,9.66,1,0.95,2.846154,95.0

In [42]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE_to_TOEFL_Ratio,Admission_Chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [43]:
#Rename the column Chance of Admit to Admit_Probability.
df.rename(columns={"Chance of Admit": "Admit_Probability"}, inplace=True)

In [44]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admit_Probability,GRE_to_TOEFL_Ratio,Admission_Chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [49]:
#Change all column names to lowercase.
df.columns = df.columns.str.lower()

In [50]:
df.head()

,serial no.,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [47]:
df.columns = df.columns.str.upper()
df.head()

,SERIAL NO.,GRE SCORE,TOEFL SCORE,UNIVERSITY RATING,SOP,LOR,CGPA,RESEARCH,ADMIT_PROBABILITY,GRE_TO_TOEFL_RATIO,ADMISSION_CHANCE_%
0,1,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,2,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,3,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,4,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,5,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [51]:
# Drop the column Serial No..
df.drop(columns=["serial no."],inplace=True)

In [52]:
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%
0,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [53]:
df.columns

Index(['gre score', 'toefl score', 'university rating', 'sop', 'lor', 'cgpa',
       'research', 'admit_probability', 'gre_to_toefl_ratio',
       'admission_chance_%'],
      dtype='object')

In [54]:
df.columns

Index(['gre score', 'toefl score', 'university rating', 'sop', 'lor', 'cgpa',
       'research', 'admit_probability', 'gre_to_toefl_ratio',
       'admission_chance_%'],
      dtype='object')

In [55]:
#Round all values in CGPA to one decimal place.
df['cgpa'].round(1)

0      9.6
1      8.9
2      8.0
3      8.7
4      8.2
      ...
395    9.0
396    9.1
397    9.4
398    8.8
399    9.7
Name: cgpa, Length: 400, dtype: float64

In [56]:
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%
0,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0

In [57]:
#Replace all University Rating values of 5 with 10.
df["university rating"].replace(5,10)

0      4
1      4
2      3
3      3
4      2
      ..
395    3
396    3
397    4
398    3
399    4
Name: university rating, Length: 400, dtype: int64

In [58]:
df['university rating']= df["university rating"].replace(5,10)

In [59]:
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%
0,337,118,4,4.5,4.5,9.65,1,0.92,2.855932,92.0
1,324,107,4,4.0,4.5,8.87,1,0.76,3.028037,76.0
2,316,104,3,3.0,3.5,8.00,1,0.72,3.038462,72.0
3,322,110,3,3.5,2.5,8.67,1,0.80,2.927273,80.0
4,314,103,2,2.0,3.0,8.21,0,0.65,3.048544,65.0
...,...,...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,0.82,2.945455,82.0
396,325,107,3,3.0,3.5,9.11,1,0.84,3.037383,84.0
397,330,116,4,5.0,4.5,9.45,1,0.91,2.844828,91.0
398,312,103,3,3.5,4.0,8.78,0,0.67,3.029126,67.0
399,333,117,4,5.0,4.0,9.66,1,0.95,2.846154,95.0

In [60]:
#Convert Research column values from 0/1 to “No”/“Yes”.
df['research'].replace({0:"No",1:"Yes"},inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_15336\4203515883.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['research'].replace({0:"No",1:"Yes"},inplace=True)

In [61]:
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%
0,337,118,4,4.5,4.5,9.65,Yes,0.92,2.855932,92.0
1,324,107,4,4.0,4.5,8.87,Yes,0.76,3.028037,76.0
2,316,104,3,3.0,3.5,8.00,Yes,0.72,3.038462,72.0
3,322,110,3,3.5,2.5,8.67,Yes,0.80,2.927273,80.0
4,314,103,2,2.0,3.0,8.21,No,0.65,3.048544,65.0
...,...,...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,Yes,0.82,2.945455,82.0
396,325,107,3,3.0,3.5,9.11,Yes,0.84,3.037383,84.0
397,330,116,4,5.0,4.5,9.45,Yes,0.91,2.844828,91.0
398,312,103,3,3.5,4.0,8.78,No,0.67,3.029126,67.0
399,333,117,4,5.0,4.0,9.66,Yes,0.95,2.846154,95.0

In [62]:
#Create a new column GRE_Level = “High” if GRE ≥ 320 else “Low”.
df["gre_level"] = df["gre score"].apply(lambda x: "High" if x >= 320 else "Low")

In [63]:
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%,gre_level
0,337,118,4,4.5,4.5,9.65,Yes,0.92,2.855932,92.0,High
1,324,107,4,4.0,4.5,8.87,Yes,0.76,3.028037,76.0,High
2,316,104,3,3.0,3.5,8.00,Yes,0.72,3.038462,72.0,Low
3,322,110,3,3.5,2.5,8.67,Yes,0.80,2.927273,80.0,High
4,314,103,2,2.0,3.0,8.21,No,0.65,3.048544,65.0,Low
...,...,...,...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,Yes,0.82,2.945455,82.0,High
396,325,107,3,3.0,3.5,9.11,Yes,0.84,3.037383,84.0,High
397,330,116,4,5.0,4.5,9.45,Yes,0.91,2.844828,91.0,High
398,312,103,3,3.5,4.0,8.78,No,0.67,3.029126,67.0,Low
399,333,117,4,5.0,4.0,9.66,Yes,0.95,2.846154,95.0,High

In [64]:
#Normalize CGPA column to range 0–1 using min-max scaling (without sklearn)

In [65]:
#Increase all TOEFL Score values by 2 points.
df['toefl score'] = df['toefl score'].round(2)

In [66]:
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%,gre_level
0,337,118,4,4.5,4.5,9.65,Yes,0.92,2.855932,92.0,High
1,324,107,4,4.0,4.5,8.87,Yes,0.76,3.028037,76.0,High
2,316,104,3,3.0,3.5,8.00,Yes,0.72,3.038462,72.0,Low
3,322,110,3,3.5,2.5,8.67,Yes,0.80,2.927273,80.0,High
4,314,103,2,2.0,3.0,8.21,No,0.65,3.048544,65.0,Low

In [71]:
#Add a column Weighted_Score = GRE Score * 0.3 + TOEFL Score * 0.2 +CGPA * 0.5.
df["Weighted_Score"]=(df['gre score']*0.3)+(df['toefl score']*0.2)+(df['cgpa']*0.5)

In [72]:
df

,gre score,toefl score,university rating,sop,lor,cgpa,research,admit_probability,gre_to_toefl_ratio,admission_chance_%,gre_level,Weighted_Score
0,337,118,4,4.5,4.5,9.65,Yes,0.92,2.855932,92.0,High,129.525
1,324,107,4,4.0,4.5,8.87,Yes,0.76,3.028037,76.0,High,123.035
2,316,104,3,3.0,3.5,8.00,Yes,0.72,3.038462,72.0,Low,119.600
3,322,110,3,3.5,2.5,8.67,Yes,0.80,2.927273,80.0,High,122.935
4,314,103,2,2.0,3.0,8.21,No,0.65,3.048544,65.0,Low,118.905
...,...,...,...,...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,Yes,0.82,2.945455,82.0,High,123.720
396,325,107,3,3.0,3.5,9.11,Yes,0.84,3.037383,84.0,High,123.455
397,330,116,4,5.0,4.5,9.45,Yes,0.91,2.844828,91.0,High,126.925
398,312,103,3,3.5,4.0,8.78,No,0.67,3.029126,67.0,Low,118.590
399,333,117,4,5.0,4.0,9.66,Yes,0.95,2.846154,95.0,High,128.130

In [ ]:
#Drop all duplicate rows if any.

In [ ]:
#Replace all SOP values less than 2 with the mean SOP.
df["SOP"]=

In [ ]:
#Create a new column combining University Rating and Research (e.g 'Rating-Research').